src/main/mule/cicd-impltwo.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="ac5abc04-3621-4c4d-979b-3cadf9c52aaf" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="cicd-impltwoFlow" doc:id="dae16088-25b7-4bc2-971c-4f478d765e1c" >
		<http:listener doc:name="Listener" doc:id="9b502fbc-cb58-44af-8120-9bc4adbc1e69" config-ref="HTTP_Listener_config" path="/cicd"/>
		<set-payload value="#[payload]" doc:name="Set Payload" doc:id="2275256b-449c-4a4b-8246-6953aa7c8217" />
	</flow>
</mule>
